/*Master styles*/
body{
    margin: 0px;
}


.container{
    display: grid;
    grid-template-columns: 1fr;
}
/*Nav styles*/
.nav-wrapper {
    background-color:darkslategrey  ;
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side{
    display: flex;
}


.middle{
    color: white;
    text-transform: uppercase;}



.right-side {
color: white;
text-transform: uppercase;
}

.nav-wrapper > .left-side > div{
   
     
    margin-right: 20px;
    font-size: 1.1em;
    text-transform: uppercase;
}

.nav-link-wrapper{
    
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a{
color: white;
text-decoration: none;
transition: color 0.5s;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid gray;
}

.nav-link-wrapper a:hover{
    color: gray;
}


/* home */
.welcome {
    display: block;
    text-align: center;
    margin: 100px;
    
  
}
.welcome-text{
    display: block;

    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    font-size: 35px;
}
.welcome img{
    height: 300px;
    width:  500px;
}


/* portfolio */
/* portfolio */
/* portfolio */
.portfolio-items-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.portfolio-item-wrapper{
    position: relative;
}

.portfolio-img-background{
 height: 570px;
 width: 100%;
 background-size:cover ;
 background-position: center;
 background-repeat: no-repeat;
}

.img-text-wrapper{
    padding-left: 45%;
    position:absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
    padding-left: 40%;
   
}

.logo-wrapper img{
    width: 50%;
    font-weight: 600;
    margin-bottom: 20px;
}

.img-text-wrapper .subtitle{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
  
    text-transform: uppercase;
color: white;

}
.img-text-wrapper .subtitle a{
    font-weight: 600;
    text-decoration: none;
    color: white;
    }

.img-text-wrapper:hover .subtitle{
    font-weight: 600;
    color:yellow;
    
}
.img-text-wrapper:hover .subtitle a{
    font-weight: 600;
    text-decoration: none;
    color:yellow;
    background-color: red;
}

/* about */
.about{
    text-align: center;
}
.resize {
    height: 200px;
    width: 200px;
}